
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#navigation{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: teal;
    font-family: 'Times New Roman', Times, serif;
    /* font-weight: bold; */
}
ul li{
    float: left;
    margin: 0px 20px;
    color: black;
}
#nbar{
    color: black;
}

nav{
    display: block;
}
#searchbutton{
    
    margin-left: 40px;
}

ul:hover {
    color: rgb(224, 172, 0);  
}

.navbar-nav{
font-weight: 600;
    color: black;
}
#nav{
    display: flex;
}


.navbar-brand{
    text-align: center;
}

.nav-item a{
    color: black;
}

.nav-item a:hover{
    color: rgb(224, 172, 0);
}

.header{
    box-shadow: 5px 5px 10px rgba(206, 206, 206, 0.2);
}